@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: normal;
    font-size: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
:root {
    --index: calc(1vw + 1vh);
    font-size: var(--index);
}

header {
    background: linear-gradient(to bottom, rgba(5, 5, 5, 1) 0%, rgba(24, 25, 25, 1) 100%);
    height: 100vh;
    color: white;
    font-size: calc(var(--index));
}
.profile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:
        repeat(2, calc(var(--index) * 3)) repeat(2, calc(var(--index) * 5)) repeat(2, calc(var(--index) * 2))
        repeat(3, calc(var(--index) * 3));
    padding: 5%;
    font-family: "Montserrat", sans-serif;
}
.profile__pic {
    position: relative;
    grid-column: 1;
    grid-row: 1/3; //ЧТО???
    width: calc(var(--index) * 12);
    height: calc(var(--index) * 12);
    border-radius: 50%;
    overflow: hidden;
    & img {
        position: absolute;
        width: 100%;
        bottom: calc(var(--index) - (var(--index) * 2.7));
        left: calc(var(--index) / 70);
    }
}
.profile__name {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    font-weight: 700;
}
.profile__position {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
}
.profile__birthdate {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
}
.profile__phone-number {
    grid-column: 3;
    grid-row: 5;
    justify-self: end;
}
.profile__email {
    grid-column: 3;
    grid-row: 6;
    justify-self: end;
}
.profile__stack {
    grid-column: 1;
    grid-row: 7;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: calc(var(--index) / 2.5);
    animation: stack_appear 1.2s;
}
@keyframes stack_appear {
    from {
        transform: translateX(calc(var(--index) * 2));
        opacity: 0;
    }
    to {
        transform: 0;
        opacity: 1;
    }
}
@keyframes arrow__up_down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(0);
    }
}
.stack__header {
    font-weight: 700;
}
.profile__more {
    position: relative;
    grid-column: 1;
    grid-row: 8;
    justify-self: center;
    align-self: self-end;
    font-weight: 700;
    cursor: pointer;
    &::after {
        position: absolute;
        content: "↓";
        font-size: calc(var(--index) * 3.3);
        bottom: calc(var(--index) - 180%);
        left: calc(var(--index) * 6.5);
    }
    &:hover::after {
        animation: arrow__up_down 0.5s;
    }
}
.profile__works {
    position: relative;
    grid-column: 2;
    grid-row: 8;
    justify-self: center;
    align-self: self-end;
    font-weight: 700;
    height: max-content;
    cursor: pointer;
    &::after {
        position: absolute;
        content: "↓";
        font-size: calc(var(--index) * 3.3);
        bottom: calc(var(--index) - 180%);
        left: calc(var(--index) * 6.8);
    }
    &:hover::after {
        animation: arrow__up_down 0.5s;
    }
}
.profile__pdf {
    grid-column: 3;
    grid-row: 9;
    justify-self: end;
    font-weight: 700;
    cursor: pointer;
}

.info {
    position: relative;
    height: 100vh;
    background: radial-gradient(100% 70%, rgba(5, 5, 5, 1), rgba(24, 25, 25, 1));
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: calc(var(--index) * 1.1);
}
.info__header {
    position: absolute;
    font-weight: 700;
    font-size: calc(var(--index) * 1.6);
    top: calc(var(--index) * 1.7);
    left: var(--index);
}
.info__list {
    position: absolute;
    top: calc(var(--index) * 6);
    left: calc(var(--index) * 1.5);
    & li {
        list-style: none;
    }
}
.info__education {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) / 3);
    top: calc(var(--index) * 25);
    left: calc(var(--index) * 1.5);
    font-size: calc(var(--index) * 1.3);
}
.education__header {
    font-weight: 700;
}

.works {
    position: relative;
    height: 100vh;
    background: linear-gradient(to top, rgba(5, 5, 5, 1) 0%, rgba(24, 25, 25, 1) 100%);
}
.works__header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(var(--index) * 2.2);
    color: white;
    font-size: calc(var(--index) * 2.5);
    font-weight: 500;
    font-family: "Tektur", sans-serif;
    letter-spacing: calc(var(--index) / 3.2);
}
.work-list {
    margin-top: calc(var(--index) * 7.5);
    display: flex;
    justify-content: center;
    perspective: calc(var(--index) * 22);
    transform-style: preserve-3d;
}
.work-list__item {
    position: relative;
    width: calc(var(--index) * 3.5);
    height: calc(var(--index) * 17.5);
    background-color: grey;
    margin: 0 calc(var(--index) / 2);
    background-size: cover;
    background-position: center;
    transition-duration: 0.2s;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: calc(var(--index) / 3);
        height: 100%;
        right: calc(var(--index) * 3.5); //странный момент
    }
    &::after {
        left: calc(var(--index) * 3.5);
    }

    &:hover {
        width: calc(var(--index) * 5.5);
        transform: translateZ(calc(var(--index) * 3.5));
        & + * {
            transform: translateZ(calc(var(--index) * 1.5)) rotateY(15deg);
            & + * {
                transform: translateZ(calc(var(--index) / 2)) rotateY(5deg);
                & + * {
                    transform: translateZ(calc(var(--index) / 4)) rotateY(1deg);
                }
            }
        }
    }
    &:has(+ :hover) {
        transform: translateZ(calc(var(--index) * 1.5)) rotateY(-15deg);
    }
    &:has(+ * + :hover) {
        transform: translateZ(calc(var(--index) / 2)) rotateY(-5deg);
    }
    &:has(+ * + * + :hover) {
        transform: translateZ(calc(var(--index) / 4)) rotateY(-1deg);
    }
}
.work-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(var(--index) * 27.5);
    color: white;
    font-size: calc(var(--index) * 1.5);
    font-weight: 400;
    font-family: "Tektur", sans-serif;
}
.works__popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(var(--index) * 7.5);
    margin: 0 auto;
    width: calc(var(--index) * 35);
    height: calc(var(--index) * 18);
    padding: calc(var(--index) / 1.2);
    border: thick solid white;
    border-radius: calc(var(--index) * 2);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 93%;
    overflow: hidden;
    z-index: 2;
    animation: popup_appear 1s;
}
.popup__links {
    display: flex;
    gap: calc(var(--index) * 8);
    justify-content: center;
    margin-top: calc(var(--index) * 2.5);
}
.popup__site-link,
.popup__git-link {
    font-weight: 700;
    font-size: 115%;
}
.works__active {
    background-size: cover;
    background-position: center;
    z-index: 2;
    // animation: item_to_popup_anim 1s forwards;
}
// @keyframes item_to_popup_anim {
//     from {
//         display: block;
//         width: calc(var(--index) * 3.5);
//         height: calc(var(--index) * 17.5);
//     }
//     to {
//         position: absolute;
//         display: none;
//         width: calc(var(--index) * 35);
//         height: var(--index);
//         border: thick solid white;
//         border-radius: calc(var(--index) * 2);
//         background-color: rgba(0, 0, 0, 0.3);
//     }
// }
@keyframes popup_appear {
    from {
        height: var(--index);
    }
    to {
        height: calc(var(--index) * 18);
    }
}
.layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    animation: layer_anim 1s;
}
@keyframes layer_anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        font-size: 130%;
    }
    .profile__pic {
        width: calc(var(--index) * 9);
        height: calc(var(--index) * 9);
    }

    .info {
        font-size: calc(var(--index) * 1.5);
    }
    .info__header {
        font-size: calc(var(--index) * 2);
        top: calc(var(--index) * 1.7);
    }
    .info__education {
        top: calc(var(--index) * 38);
        font-size: calc(var(--index) * 1.5);
    }

    .works__header {
        width: 100%;
        text-align: center;
        font-size: calc(var(--index) * 3.2);
    }
    .work-list {
        margin-top: calc(var(--index) * 7.5);
        flex-direction: column;
        align-items: center;
    }
    .work-list__item {
        width: 85%;
        height: calc(var(--index) * 5);
        margin: calc(var(--index) / 2) 0;
    }
    .work-name {
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(var(--index) * 42);
        width: 90%;
        height: 8%;
        text-align: center;
        font-size: calc(var(--index) * 2);
        z-index: 2;
    }
    .works__popup {
        top: 2%;
        width: 95%;
        height: 59%;
        font-size: 150%;
    }
    .popup__links {
        gap: calc(var(--index) * 4);
        text-align: center;
    }
    @keyframes popup_appear {
        from {
            height: 2%;
        }
        to {
            height: 59%;
        }
    }
}
