@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 10px;
}

header {
    height: 100dvh;
    background: linear-gradient(to top, rgba(5,5,5,1) 65%, rgba(48,51,52,1) 100%);
}
.works-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7dvh;
    color: white;
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Tektur', sans-serif;
    letter-spacing: 0.8rem;
}
.work-list {
    position: relative;
    top: 23dvh;
    display: flex;
    justify-content: center;
    perspective: 50rem;
    transform-style: preserve-3d;
}
.work-list__item {
    position: relative;
    width: 8rem;
    height: 40svh;
    background-color: grey;
    margin: 0 1rem;
    background-size: cover;
    background-position: center;
    transition-duration: 0.2s;

    &::before, &::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 100%;
        right: 8rem; //странный момент
    }
    &::after {
        left: 8rem;
    }

    &:hover {
        width: 13rem;
        transform: translateZ(8rem);
        & + * {
            transform: translateZ(4rem) rotateY(15deg);
            & + * {
                transform: translateZ(2rem) rotateY(5deg);
                & + * {
                    transform: translateZ(1rem) rotateY(1deg);
                }
            }
        }
    }
    &:has(+ :hover) {
        transform: translateZ(4rem) rotateY(-15deg);
    } 
    &:has(+ * + :hover) {
        transform: translateZ(2rem) rotateY(-5deg);
    }
    &:has(+ * + * + :hover) {
        transform: translateZ(1rem) rotateY(-1deg);
    }
}
.work-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 73dvh;
    color: white;
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Tektur', sans-serif;
}